.hola{
    width: 450px;  
    height: 300px;
    background-color: rgb(17, 17, 17);
    border: 3px solid rgb(250, 40, 3);
    border-radius: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
}
.item1{
    background-color: rgb(246, 153, 31);
    border-radius:14px ;
    border: 3px solid rgb(252, 250, 250);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end:4;
}
.item2{
    background-color:rgb(213, 12, 12);
    border-radius: 14px;
    border: 3px solid rgb(248, 245, 245);
    grid-column-start: 4;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end:3;
}
.item3{
    background-color: blueviolet;
    border-radius: 14px;
    border: 3px solid rgb(249, 247, 247);
    grid-column-start:6;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:3;

}
.item4{
    background-color: rgb(171, 226, 43);
    border-radius: 14px;
    border: 3px solid rgb(237, 234, 234);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end:6;
}
.item5{
    background-color: rgb(222, 17, 171);
    border-radius: 14px;
    border: 3px solid rgb(245, 243, 243);
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:3;
    grid-row-end:6;
}